@charset "UTF-8";

table.t-type01{
	text-align:center;
}
table.t-type02{
	font-size: 16px;
	font-family: Arial;
	color: #FFFFFF;
	font-weight: normal;
	background-color: #000000;
}
td.td-type01{
	font-size:20px;
	color:white;
	font-family:Arial;
	font-weight:bold;
}
td.td-type02{
	font-size:20px;
	color:#4C4C4C;
	font-family:Arial;
	font-weight:bold;
}
td.td-type03{
	font-size:20px;
	color:#5f5f5f;
	font-family:malgun;
	font-weight:bold;
	border-style:solid;
	border-color:white;
	background-color:#e5e5e5;
	text-align:center;
	border-width:1px;
}
td.td-type04{
	font-size:20px;
	color:#5f5f5f;
	font-family:malgun;
	font-weight:bold;
	border-style:solid;
	border-color:white;
	background-color:#e5e5e5;
	text-align:center;
	border-width:1px;
}
td.td-type05{
	font-size:20px;
	color:#5f5f5f;
	font-family:malgun;
	font-weight:bold;
	border-style:solid;
	border-color:white;
	background-color:#e5e5e5;
	text-align:left;
	border-width:1px;
}

td.memberinfo {
	font-size: 20px;
	color: #5f5f5f;
	font-family: malgun;
	font-weight: bold;
	
}

#input01{
	font-family:Arial;
	font-size:20px;
	color:#636363;
	border:1px solid #c0c0c0;
	background-color: white;
	width: 220px;
	padding: 5px;
}
#button01{
	border:2px solid white;
	background-color: #a0a0a0;
	width: 175px;
	height:40px;
	padding:5px;
	font-size:15px;
	color:#FFFFFF;
	font-weight:bold;
}
body{
	margin:0;
	padding:0;
}
a:link{ <!-- (하이퍼링크) 방문하지 않은 링크의 글자색 -->
	text-decoration: none;
	color: #FFFFFF;
}
a:visited { <!-- (하이퍼링크) 방문한적 있는 링크의 글자색 +밑줄삭제 -->
	text-decoration: none;
	color: #FFFFFF;
}
a:hover {<!-- (하이퍼링크) 마우스를 링크에 올려두었을 때 글자색 + 밑줄삭제 -->
	text-decoration: underline;
	color:gray;
}
#button01:hover{   <!-- 버튼에 마우스 올리면 색 변경 -->
	background-color: #666666;
}
